<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
    <p><%= article.title %></p>
    <p><%= article.content %></p>
  <% end %>
  <p>--------------------------------</p>
  <h1>---------------h1-----------------</h1>
  <p>--------------------------------</p>
<% end %>
